pkgbase = joplin
	pkgver = 2.7.14
	pkgrel = 1
	url = https://joplinapp.org/
	install = joplin.install
	arch = x86_64
	arch = i686
	groups = joplin
	license = MIT
	makedepends = git
	makedepends = yarn
	makedepends = npm
	makedepends = rsync
	makedepends = electron
	makedepends = node-gyp>=8.4.1
	source = joplin.desktop
	source = joplin-desktop.sh
	source = joplin-2.7.14.tar.gz::https://github.com/laurent22/joplin/archive/v2.7.14.tar.gz
	sha256sums = c7c5d8b0ff9edb810ed901ea21352c9830bfa286f3c18b1292deca5b2f8febd2
	sha256sums = a450284fe66d89aa463d129ce8fff3a0a1a783a64209e4227ee47449d5737be8
	sha256sums = 9e5b2d3cc2a353f54d1ff6ffd506870a7cbb4d9a67c01eb54d1be036f3881361

pkgname = joplin
	pkgdesc = A note taking and to-do application with synchronization capabilities - CLI App
	depends = libsecret
	depends = nodejs
	depends = python
	depends = libvips
