[submodule "alglib"]
	path = alglib
	url = https://aur.archlinux.org/alglib.git
[submodule "cutemarked-git"]
	path = cutemarked-git
	url = https://aur.archlinux.org/cutemarked-git.git
[submodule "libtsm-git"]
	path = libtsm-git
	url = https://aur.archlinux.org/libtsm-git.git
[submodule "openann-git"]
	path = openann-git
	url = https://aur.archlinux.org/openann-git.git
[submodule "libtsm-patched-git"]
	path = libtsm-patched-git
	url = https://aur.archlinux.org/libtsm-patched-git.git
[submodule "python-smartypants"]
	path = python-smartypants
	url = https://aur.archlinux.org/python-smartypants.git
[submodule "kdevelop-git"]
	path = kdevelop-git
	url = https://aur.archlinux.org/kdevelop-git.git
[submodule "kio-gdrive-git"]
	path = kio-gdrive-git
	url = https://aur.archlinux.org/kio-gdrive-git.git
[submodule "libecap"]
	path = libecap
	url = https://aur.archlinux.org/libecap.git
[submodule "globus-connect-personal"]
	path = globus-connect-personal
	url = https://aur.archlinux.org/globus-connect-personal.git
[submodule "python-globus-cli"]
	path = python-globus-cli
	url = https://aur.archlinux.org/python-globus-cli.git
[submodule "python-globus-sdk"]
	path = python-globus-sdk
	url = https://aur.archlinux.org/python-globus-sdk.git
[submodule "hid-apple-patched-git-dkms"]
	path = hid-apple-patched-git-dkms
	url = https://aur.archlinux.org/hid-apple-patched-git-dkms.git
[submodule "kmscon-patched-git"]
	path = kmscon-patched-git
	url = https://aur.archlinux.org/kmscon-patched-git.git
[submodule "python-robobrowser"]
	path = python-robobrowser
	url = https://aur.archlinux.org/python-robobrowser.git
[submodule "python-pipsi"]
	path = python-pipsi
	url = https://aur.archlinux.org/python-pipsi.git
[submodule "kgraphviewer-git"]
	path = kgraphviewer-git
	url = https://aur.archlinux.org/kgraphviewer-git.git
[submodule "plasma-potd-spotlight"]
	path = plasma-potd-spotlight
	url = https://aur.archlinux.org/plasma-potd-spotlight.git
