# Ignore downloaded source files
*.tar.gz
*.tar.xz
*.xz
*.sign

# Ignore packages
*.pkg.tar.xz

# Ignore log files
*.log

# Ignore locally used debug patches
debug.patch

# Ignore all subdirs within any package dir
*/*/*
!linux/changeset/*
