[Unit]
Description=Syncthing discovery server
After=network.target

[Service]
User=syncthing-discosrv
Group=syncthing-discosrv
ExecStart=/usr/bin/syncthing-discosrv -db-dir=/var/lib/discosrv
WorkingDirectory=/var/lib/discosrv
Restart=on-failure

PrivateTmp=true
PrivateDevices=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target
